html {
    height: 600px;
    width: 600px;
}

body {
    height: 600px;
    width: 600px;
}

#color {
    height: 30px;
    width: 30px;
    outline: none;
}

#login {
    margin: 25px;
    padding-left: 50px;
    padding-right: 50px;
}

#playlist {
    margin: 25px;
}

a {
    text-decoration: none;
    outline: none;
}

.cover-img {
    height: 128px;
    width: 128px;
}